{% extends "admin/change_form.html" %}
{% block admin_change_form_document_ready %}
    {{ block.super }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script  type="text/javascript">
        var $menu = $('#id_menu');
        var $parentItem = $('#id_parent_item');
        $menu.change(function () {
            console.log("MENU CHANGE");
            $.getJSON("/menu/get_parent_items/" + $(this).val(), function (data) {
                console.log("DATA", data)
                $parentItem.empty();
                $.each(data, function (index, item) {
                    $parentItem.append(new Option(item.name, item.id));
                });
            });
        });
    </script>

{% endblock %}